/* Custom Font */
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, 
textarea:focus, 
select:focus {
  outline: none;
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/* Dark Theme */
#dark body {
  background-color: #121212;
  color: #fff;
}
#dark nav.navbar,
#dark #basic-navbar-nav.show.navbar-collapse.collapse,
#dark .banner,
#dark .banner button, 
#dark .project,
#dark .contact,
#dark .contact h2,
#dark .footer,
#dark .footer p,
#dark .new-email-bx button {
  background-color: black;
  color: #fff;
}
#dark nav.navbar {
  box-shadow: 0px 5px 30px rgba(123, 121, 121, 0.8); 
}
#dark nav.navbar.scrolled,
#dark .skill,
#dark .contact form button::before {
  background-color: #121212 ;
}
#dark .social-icons a {
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#dark .social-icons a:hover svg {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
#dark .social-icons a::before {
  content: "";
  background-color: #ffffff;
}
#dark .social-icons a svg {
  color: #fff;
}
#dark .navbar-text button {
  color: #fff;
  border: 1px solid #fff;
}
#dark .navbar-text button::before,
#dark nav.navbar .navbar-toggler-icon:after,
#dark nav.navbar .navbar-toggler-icon:before,
#dark nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after,
#dark nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  background-color: #fff;
}
#dark .navbar-text button:hover,
#dark .new-email-bx input {
  color: #121212;
}
#dark nav.navbar .navbar-toggler-icon,
#dark nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
#dark .banner .tagline {
  background: linear-gradient(90.21deg, rgba(255, 255, 255, 0.8) -5.91%, rgba(255, 255, 255, 0.95) 50.7%, rgba(255, 255, 255, 0.8) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7); 
}
#dark .txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
#dark .skill-bx {
  background: #151515;
  box-shadow: 0px 2px 10px rgba(123, 121, 121, 0.3); 
}
#dark .banner p,
#dark .footer p {
  color: #B8B8B8;
}
#dark nav.navbar .navbar-nav .nav-link.navbar-link,
#dark .banner button,
#dark .banner .scroll-down svg,
#dark .skill h2,
#dark .skill p,
#dark .skill-div .skill-icon,
#dark .proj-txtx .proj-links a,
#dark .contact form button:hover,
#dark .contact .right-content a {
  color: #fff;
}
#dark .skill-icon:hover {
  color: #ffd700;
}
#dark .contact form input, 
#dark .contact form textarea,
#dark .new-email-bx,
#dark .new-email-bx::after {
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #121212;
}
#dark .contact form input:focus, 
#dark .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
#dark .contact form input::placeholder, 
#dark .contact form textarea::placeholder {
  color: #121212;
}
#dark .contact form input:focus::placeholder, 
#dark .contact form textarea:focus::placeholder {
  color: #121212;
}
#dark .contact form button {
  background-color: #fff;
  color: #000;
}
#dark .contact .right-content a:hover{
  color: lightgrey;
}
#dark .newsletter-bx {
  background-color: #fff;
  color: #121212;
}
#dark .new-email-bx::before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000 ;
}

/* Light Theme */
#light body {
  background-color: #fff;
  color: #121212;
}

#light nav.navbar,
#light #basic-navbar-nav.show.navbar-collapse.collapse,
#light .banner,
#light .banner button, 
#light .project,
#light .contact,
#light .contact h2,
#light .footer,
#light .footer p {
  background-color: #fff;
  color: #121212;
}
#light nav.navbar {
  box-shadow: 0px 5px 30px rgba(123, 121, 121, 0.4); 
}
#light nav.navbar.scrolled,
#light .skill,
#light .contact form button::before {
  background-color: #fff;
}
#light .social-icons a {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#light .social-icons a::before {
  content: "";
  background-color: #121212;
}
#light .social-icons a:hover svg {
	filter: brightness(100%) saturate(0) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
#light .navbar-text button {
  color: #121212;
  border: 1px solid #121212;
}
#light .navbar-text button:hover {
  color: #fff;
}
#light .navbar-text button::before,
#light nav.navbar .navbar-toggler-icon:after,
#light nav.navbar .navbar-toggler-icon:before,
#light nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after,
#light nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  background-color: #121212;
}
#light .project .note,
#light .new-email-bx input {
  color: #121212;
}
#light nav.navbar .navbar-toggler-icon,
#light nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #121212;
}
#light .banner .tagline {
  background: linear-gradient(90.21deg, rgba(0, 0, 0, 0.8) -5.91%, rgba(0, 0, 0, 0.95) 50.7%, rgba(0, 0, 0, 0.8) 111.58%);
  border: 1px solid rgba(0, 0, 0, 0.5); 
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7); 
  color: #fff;
}
#light .txt-rotate > .wrap {
  border-right: 0.08em solid #fff;
}
#light .skill-bx {
  background: #f0f0f0 ;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
}
#light .banner p,
#light .skill p,
#light .project p,
#light .contact form input::placeholder, 
#light .contact form textarea::placeholder,
#light .footer p {
  color: #121212;
}
#light nav.navbar .navbar-nav .nav-link.navbar-link,
#light .social-icons a svg,
#light .banner button,
#light .banner .scroll-down svg,
#light .skill h2,
#light .skill-div .skill-icon,
#light .proj-txtx,
#light .proj-txtx .proj-links a,
#light .contact form button:hover,
#light .contact .right-content a,
#light .new-email-bx button {
  color: #000;
}
#light .contact form input, 
#light .contact form textarea,
#light .newsletter-bx,
#light .new-email-bx {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #121212;
}
#light .contact form input:focus::placeholder, 
#light .contact form textarea:focus::placeholder {
  color: #B8B8B8;
}
#light .contact form button {
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
}
#light .new-email-bx button {
  background: #ffd700;
  color: #000;
}
/* Navbar Css */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
.navbar-tools {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-right: 5px;
}
.switch {
  margin: 0 25px;
}
.react-switch-bg {
  background: #000 !important;
  border: 2px solid #fff;
  border-radius: 50px;
  width: calc(100% + 40px) !important;
  height: 100% ;
  padding: 0 ;
}
.react-switch-handle {
  width: 20px !important;
  height: 20px !important;
  margin-top: 3px;
  box-shadow: none !important;
  outline: none;
}
.react-switch-handle:hover {
  box-shadow: none;
  outline: none;
}
#dark .react-switch-handle {
  margin-left: 18px;
}
#light .react-switch-handle {
  margin-left: 8px;
  text-decoration: none !important;
}
.moon-icon {
  color: #ffd700;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 15px;
}
.sun-icon {
  color: #ffd700;
  margin-left: 8px;
  margin-top: 6px;
  font-size: 15px;
}
.weather img {
  width: 60%;
}
.weather p {
  font-size: 16px;
  margin: 0;
}
span .navbar-text {
    display: flex;
    align-items: center;
}
.social-icons {
    display: inline-block;
    margin-left: 14px;
}
.social-icons a {
    width: 42px;
    height: 42px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
.social-icons a::before {
    width: 42px;
    height: 42px;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
	  transition: 0.3s ease-in-out;
}
.social-icons a:hover::before {
    transform: scale(1);
}
.social-icons a svg {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon {
  width: 100%;
  height: auto;
}
.navbar-text button {
  font-weight: 700;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
/*set a basic style*/
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; /*hide the style*/
  transition: 0.3s ease-in-out;
}
/*when hover, ::before style restart and display*/
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus,
button.navbar-toggler.collapsed {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  text-decoration: none;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon::before {
	width: 24px;
	position: absolute;
	height: 2px;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent !important;
  position: absolute;
  top: 40px;
}
.navbar-toggler {
  padding: 0 !important;
  border: transparent !important;
}

@media (max-width: 767px) {
  nav.navbar.scrolled {
    height: 80px;
  }
  .navbar-collapse {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 25px;
    padding-bottom: 50px;
  }
  .navbar-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

/* Banner Css */
.banner {
  margin-top: 0;
  padding: 200px 0 150px 0;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  line-height: 25px;
  margin-top: 20px;
}
.banner .links {
  display: flex;
  flex-direction: row;
  gap: 55px;
}
.banner a {
  text-decoration: none;
}
.banner button {
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  height: 0px;
}
.banner button svg {
  font-size: 25px;
  margin-left: 8px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner .align-items-center .scroll-down {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.banner .scroll-down svg {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: -12px;
  animation: scrollAnimation 1.5s ease infinite alternate;
}
@keyframes scrollAnimation {
  0% {
    transform:  translateY(0);
  }  
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 767px) {
  .banner {
    padding-top: 160px;
  }
}
/* Skills Css */
.skill {
  padding: 0 0 100px 0;
  position: relative;
}
.skill-bx {
  border-radius: 64px;
  text-align: center;
  padding: 80px 50px;
  margin-top: -40px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 65px 0;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  gap: 35px;
  width: 70%;
  margin: 10px auto;
}
@media (max-width: 767px) {
  .skills-container {
    width: 90%;
  }
}
.skill-div .skill-icon {
  font-size: 50px;
  flex: 0 0 20%;
}
.skill-div p {
  margin-bottom: 20px;
  font-size: medium;
}
.skill-icon:hover {
  color: #ffd700 !important;
}
/* Projects Css */
.project {
  padding: 80px 0;
  position: relative;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.project .text {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 65px 0;
  text-align: center;
}
.project .description {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  width: 90%;
  margin-bottom: 40px;
}
.project h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.project .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.project .icon {
  font-size: 36px;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  margin-top: 35px;
}
.proj-links {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  justify-content: center;
  gap: 20px;
}
.proj-links a {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  padding-top: 18px;
  text-decoration: none;
  text-decoration: underline;
}
.project-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.proj-imgbx {
  width: 400px;
}
.project-slider .proj-imgbx img {
  width: 100%;
}

/* Contact Css */
.contact {
  padding: 60px 0 200px 0;
}
.contact .align-items-center{
  margin: 0;
}
.contact .contact-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-content {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
  }
}
.contact .contact-content .right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 767px) {
    margin-top: 10%;
  }
  @media (min-width: 768px) {
    margin-left: 10%;
  }
}
.contact .contact-content .right-content h5 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contact .contact-content .right-content h4 {
  font-size: 20px;
  margin-bottom: 5px;
}
.contact .contact-content .right-content a{
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 20px;
}
.contact .contact-container h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  justify-self: center;
}
.contact form input, 
.contact form textarea {
  width: 100%;
  border-radius: 20px;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input::placeholder, 
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}
.contact form input:focus::placeholder, 
.contact form textarea:focus::placeholder {
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
.contact p {
  font-size: 18px;
}
/* Footer Css */
.footer {
  padding: 0 0 50px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx div.row {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
}
.newsletter-bx {
  width: 100%;
  border-radius: 55px;
  padding: 85px 75px;
  margin-bottom: 80px;
  margin-top: -122px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  margin: 0px;
}
.new-email-bx {
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  padding: 0;
  margin: 0;
}
.new-email-bx::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  padding: 20px 65px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer .social-icon {
  width: 40%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .newsletter-bx {
    flex-direction: column;
    padding: 50px 20px;
  }
  .newsletter-content {
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
  }
  .new-email-bx {
    margin-bottom: 15px;
    padding: 0;
    position: relative;
  }
  .new-email-bx::before {
    content: "";
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .new-email-bx input,
  .new-email-bx button {
    z-index: 2;
  }
  .footer .text-center .social-icons,
  .footer .text-center span {
    display: flex;
    justify-content: center;
  }
  .footer span {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .newsletter-bx {
    display: flex;
    flex-direction: column;
  }
  .newsletter-content {
    margin-bottom: 30px;
  }
}